@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
body {
    margin: 0;
    font-family: system-ui;

}
.title-bonsais{
    font-family: "Berkshire Swash", serif;
        font-weight: 400;
        font-style: normal;
    text-align: center;
    font-size: 70px;
}