@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: system-ui;

}

.title-bonsais {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 4.5rem;
}

.container-form {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #F6F0BE;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 8vw;
    padding-top: 5vh;
    background-color: #044C40;
    border-radius: 20px;
    width: 100vw;

}

.label-form {
    height: 6vh;
    border-radius: 10px;
    width: 90%;
}

.label-form-notas {
    width: 90%;
    height: 30vh;
}